<div class="column">
<nav class="panel">
	<p class="panel-heading">Who to Follow</p>
</nav>
<div class="panel-block">
	<article class="media">
		<div class="media-left">
			<figure class="image is-32x32">
				<img src="https://bulma.io/images/placeholders/32x32.png">
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>Ivy Bear</strong>
					<small>@ivyisadog</small>
				</p>
			</div>
		</div>
	</article>
</div>
<div class="panel-block">
		<article class="media">
		<div class="media-left">
			<figure class="image is-32x32">
				<img src="https://bulma.io/images/placeholders/32x32.png">
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>Georgie Boy</strong>
					<small>@baddogs</small>
				</p>
			</div>
		</div>
	</article>
</div>
<div class="panel-block">
		<article class="media">
		<div class="media-left">
			<figure class="image is-32x32">
				<img src="https://bulma.io/images/placeholders/32x32.png">
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>Enrique M</strong>
					<small>@coolguy</small>
				</p>
			</div>
		</div>
	</article>
</div>